body {
  background-image: url("web-design-2906159_960_720.jpg");
  background-repeat: repeat;
  background-size: cover;
  color: white;
  max-width: 1000px;
  margin: 0 auto;
}

.main {
  width: 100%;
  margin: 0 auto;
}

/******* HEADER STYLING *******/
/* style for navlink */
.header {
  text-align: center;
  margin-top: 35px;
  width: 100%;
}

.headerH1 {
  font-size: 2.4em;
  margin-bottom: 2%;
  margin: 0 auto;
  width: 100%;
}

.navLink {
  text-decoration: none;
  color: black;
}

.specialtyAttr {
  padding-right: 2%;
  padding-left: 5%;
}

.stepperStyle {
  margin: 25px auto 0;
  width: 70%;
  padding: 10px;
}

.leftButton {
  position: absolute;
  top: 125px;
  left: 200px;
  padding: 7px 12px;
  border: "1px solid black";
}

.rightButton {
  position: absolute;
  top: 125px;
  right: 200px;
  padding: 7px 12px;
  border: "1px solid black";
}

.leftButton:hover,
.rightButton:hover {
  background-color: cornflowerblue;
}

/**** home page styling ****/
.home {
  text-align: center;
}

.input {
  height: 30px;
  width: 250px;
  font-size: 1.3em;
  text-align: center;
  border-radius: 3px;
}

.button {
  font-size: 1.1em;
  margin: 15px 0px;
  height: 35px;
  padding: 5px;
  border-radius: 3px;
}

.button:hover {
  background-color: cornflowerblue;
  color: white;
}

.expansionPanel {
  padding: 25px;
  margin-top: -20px;
}

.login-wrapper {
  width: 100%;
}

.login {
  margin: 18% auto 0;
  width: 450px;
  text-align: center;
}
